*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
}

.sessao-1{
    background-color: lightgreen;
}

.sessao-2{
    background-color: lightslategrey;
}

footer{
    background-color: lightcoral;
}

aside{
    background-color: lightgoldenrodyellow;
}

body{
    display: grid;
    grid-template-areas: 
    'header header' 
    'section1 aside'
    'section2 aside'
    'footer footer';
}

 /* blocos para designar cada areaa */
.cabecalho{
    grid-area: header;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.sessao-1{
    grid-area: section1;
}

.sessao-2{
    grid-area: section2;
}
