*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: lightblue;
}

.sessao-1{
    background-color: lightgreen;
}

.sessao-2{
    background-color: lightslategrey;
}

footer{
    background-color: lightcoral;
}

aside{
    background-color: lightgoldenrodyellow;
}

body{
    display: grid;
    grid-template-areas: 
    'header header' 
    'section1 aside'
    'section2 aside'
    'footer footer';
    grid-template-columns: 1fr 300px;
}

 /* blocos para designar cada areaa */
.cabecalho{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.cabecalho h1{
    padding-right: 69%;
}

.cabecalho ul{
    display: flex;
    gap: 30px;
    margin-right: 15px;
}

.cabecalho ul li{
    list-style: none;
}

aside{
    grid-area: aside;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

footer{
    grid-area: footer;
}

.sessao-1{
    grid-area: section1;
    display: flex;
    justify-content: flex-start;

}


.sessao-1 .semiS{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 350px;
}

.sessao-1 .semiH{
    margin-left: 30px;
}

.sessao-1 .semiF{
    margin-left: 30px;
}

.sessao-1 .semiF article{
    margin-left: 100px;
    border: 2px blue solid;
}




.sessao-2{
    grid-area: section2;
}
